@charset "UTF-8";
/*
Author: Fabrizio Feitosa
Author URI: http://fabriziofeitosa.me
Version: 1.0
*/
/* #######################################
		CONFIGURAÇÕES
   ####################################### */
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

a.tudo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

html {
  height: 100%;
}

body {
  background-color: #edf2f6;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

/* #######################################
		LOGIN
   ####################################### */
body.login {
  background-image: url(../image/loginbg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body.login > .gradient {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0bbce8;
  background: linear-gradient(45deg, rgba(11, 188, 232, 0.9) 10%, rgba(254, 39, 135, 0.9) 70%);
}

body.login > .container {
  padding-top: 50px;
}

body.login > .container > div {
  position: relative;
  z-index: 10;
}

body.login .conteudo {
  color: #fff;
}

body.login .conteudo h1 {
  font-weight: lighter;
  margin-top: 20%;
}

@media screen and (max-width: 767px) {
  body.login .conteudo h1 {
    margin-top: 50px;
    font-size: 30px;
  }
}

body.login .conteudo p {
  font-size: 14px;
  margin: 50px 0;
}

body.login .conteudo a.button {
  color: #fff;
  border: 2px solid #fff;
  padding: 20px 20px;
  display: block;
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

body.login .box {
  position: relative;
  background-color: #fff;
  color: #555566;
  border-radius: 4px;
  max-width: 435px;
  min-height: 495px;
}

@media screen and (max-width: 767px) {
  body.login .box {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

body.login .box > .header {
  font-size: 14px;
  padding: 20px 28px;
  font-weight: bold;
  border-bottom: 1px solid #e5ecf6;
  margin-bottom: 10px;
}

body.login .box > .corpo {
  font-size: 12px;
  color: #9aa3c2;
  padding: 10px 28px;
}

body.login .box > .corpo .btn-grupo .botao {
  position: relative;
  background-color: #fe2787;
  color: #fff;
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
  padding: 0px 10px;
}

@media screen and (max-width: 767px) {
  body.login .box > .corpo .btn-grupo .botao {
    padding: 0px 5px;
  }
}

body.login .box > .corpo .btn-grupo .botao .icon {
  font-size: 24px;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  body.login .box > .corpo .btn-grupo .botao .icon {
    margin-right: 7px;
  }
}

body.login .box > .corpo .btn-grupo .botao .frase {
  font-weight: bold;
  font-size: 14px;
}

body.login .step02 .corpo .numTelefone, body.login .step02 .corpo .numConfirmacao, body.login .step03 .corpo .numTelefone, body.login .step03 .corpo .numConfirmacao {
  background-color: #fff;
  color: #555566;
  border: 1px solid #e5ecf6;
  font-size: 14px;
  padding: 15px 20px;
  width: 100%;
  border-radius: 4px;
  margin: 20px 0 30px 0;
}

body.login .step02 .corpo a, body.login .step03 .corpo a {
  color: #fe2787;
  text-decoration: none;
}

body.login .step02 .corpo .footer, body.login .step03 .corpo .footer {
  position: absolute;
  left: 0px;
  bottom: 30px;
  width: calc(100% - 56px);
  margin: 0 28px;
}

body.login .step02 .corpo .footer .termoDeUso, body.login .step03 .corpo .footer .termoDeUso {
  position: relative;
  z-index: 10;
}

body.login .step02 .corpo .footer .termoDeUso label, body.login .step03 .corpo .footer .termoDeUso label {
  cursor: pointer;
}

body.login .step02 .corpo .footer .termoDeUso label span, body.login .step03 .corpo .footer .termoDeUso label span {
  font-size: 13px;
  line-height: 24px;
  padding-left: 5px;
  font-weight: normal;
}

body.login .step02 .corpo .footer .custom-control-label::before, body.login .step03 .corpo .footer .custom-control-label::before {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #e5ecf6;
}

body.login .step02 .corpo .footer .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, body.login .step03 .corpo .footer .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fe2787;
}

body.login .step02 .corpo .footer .custom-control-label::after, body.login .step03 .corpo .footer .custom-control-label::after {
  width: 20px;
  height: 20px;
}

body.login .step02 .corpo .footer .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after, body.login .step03 .corpo .footer .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  border: 1px solid #fe2787;
}

body.login .step02 .corpo .footer .custom-control-input:focus ~ .custom-control-label::before, body.login .step03 .corpo .footer .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0;
}

body.login .step02 .corpo .footer .btnEnviar, body.login .step03 .corpo .footer .btnEnviar {
  background-color: #fe2787;
  color: #fff;
  padding: 20px 20px;
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
}

/* #######################################
		LOADING
   ####################################### */
body.loading {
  height: auto;
}

body.loading #loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #ff1777;
  transition: all .5s;
}

body.loading #loader-wrapper .spinner {
  margin: 22% auto;
  width: 70px;
  height: 70px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

body.loading #loader-wrapper .spinner .dot1, body.loading #loader-wrapper .spinner .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

body.loading #loader-wrapper .spinner .dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* #######################################
		HEADER
   ####################################### */
.topo {
  z-index: 100;
  background-color: #fe1777;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
}

@media screen and (max-width: 767px) {
  .topo {
    position: fixed;
  }
}

.topo > .conteudo {
  padding: 0 50px 0 100px;
}

@media screen and (max-width: 767px) {
  .topo > .conteudo {
    padding: 0 0px 0 70px;
  }
}

.topo > .conteudo > .titulo {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 70px;
}

.topo > .conteudo > .notificacoes {
  position: relative;
  line-height: 70px;
  font-size: 30px;
  margin-right: 30px;
  width: 50px;
}

@media screen and (max-width: 767px) {
  .topo > .conteudo > .notificacoes {
    margin-right: 10px;
  }
}

.topo > .conteudo > .notificacoes label {
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  margin: 0;
  width: 100%;
  height: 100%;
}

.topo > .conteudo > .notificacoes label .numb {
  position: absolute;
  top: 15px;
  right: 5px;
  background-color: #01bee4;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.topo > .conteudo > .notificacoes input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: -9999px;
}

.topo > .conteudo > .notificacoes .box {
  z-index: 20;
  font-size: 16px;
  line-height: 1;
  display: none;
  position: absolute;
  top: 65px;
  right: -160px;
  width: 380px;
  background-color: #fff;
  color: #555566;
  border-radius: 4px;
  min-height: 80px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .topo > .conteudo > .notificacoes .box {
    position: fixed;
    right: 14px;
    top: 65px;
    width: 90%;
    max-width: 380px;
  }
}

@media screen and (max-width: 380px) {
  .topo > .conteudo > .notificacoes .box {
    width: 100%;
    right: 0;
  }
}

.topo > .conteudo > .notificacoes .box::after {
  content: '';
  position: absolute;
  top: -5px;
  right: 180px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  transform: rotate(45deg);
}

@media screen and (max-width: 767px) {
  .topo > .conteudo > .notificacoes .box::after {
    right: 16px;
  }
}

@media screen and (max-width: 380px) {
  .topo > .conteudo > .notificacoes .box::after {
    right: 30px;
  }
}

.topo > .conteudo > .notificacoes .box > .titulo {
  text-transform: uppercase;
  font-size: 10px;
  color: #9aa3c2;
  padding: 7px 25px;
  border-bottom: 1px solid #e5ecf4;
  font-weight: bold;
}

.topo > .conteudo > .notificacoes .box > .mensagemVazia {
  font-size: 12px;
  padding: 20px 10px;
  color: #9aa3c2;
}

.topo > .conteudo > .notificacoes .box > .item {
  padding: 20px 10px;
}

.topo > .conteudo > .notificacoes .box > .item:not(:last-child) {
  border-bottom: 1px solid #e5ecf4;
}

.topo > .conteudo > .notificacoes .box > .item .foto {
  position: relative;
  margin-left: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #edf2f6;
}

.topo > .conteudo > .notificacoes .box > .item .foto img {
  border-radius: 50%;
  vertical-align: top;
  width: 36px;
  height: 36px;
}

.topo > .conteudo > .notificacoes .box > .item .txt {
  margin-left: 10px;
  padding-right: 25px;
}

.topo > .conteudo > .notificacoes .box > .item .txt a {
  text-decoration: none;
  color: #01bee4;
  font-weight: bold;
}

.topo > .conteudo > .notificacoes .box > .item .txt a.linkPerfil {
  color: #555566;
  font-weight: bold;
  font-size: 13px;
}

.topo > .conteudo > .notificacoes .box > .item .txt .nome {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.topo > .conteudo > .notificacoes .box > .item .txt .nome a {
  font-size: inherit;
}

.topo > .conteudo > .notificacoes .box > .item .txt .sobre {
  font-size: 12px;
  line-height: 16px;
  color: #9aa3c2;
}

.topo > .conteudo > .notificacoes .box > .item .interacao {
  margin-right: 16px;
  padding-top: 5px;
}

.topo > .conteudo > .notificacoes .box > .item .interacao .icon {
  color: #fff;
}

.topo > .conteudo > .notificacoes .box > .item .interacao .like, .topo > .conteudo > .notificacoes .box > .item .interacao .deslike, .topo > .conteudo > .notificacoes .box > .item .interacao .decisao {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 8px;
  background-color: #9aa3c2;
}

.topo > .conteudo > .notificacoes .box > .item .interacao .like {
  margin-right: 7px;
  background-color: #01bee4;
}

.topo > .conteudo > .notificacoes .box > .item .interacao .decisao {
  background-color: transparent;
}

.topo > .conteudo > .notificacoes .box > .item .interacao .decisao .icon {
  color: #d4d6e2;
  font-size: 24px;
}

.topo > .conteudo > .notificacoes .box > .footer {
  position: relative;
  text-transform: uppercase;
  background-color: #01bee4;
  color: #fff;
  width: 100%;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 12px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .topo > .conteudo > .notificacoes input[type="checkbox"]:checked ~ .box {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .topo > .conteudo > .notificacoes:hover > .box {
    display: block !important;
  }
}

.topo > .conteudo > .perfil {
  position: relative;
}

.topo > .conteudo > .perfil .foto, .topo > .conteudo > .perfil .infor {
  cursor: pointer;
}

.topo > .conteudo > .perfil .foto {
  overflow: hidden;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #edf2f6;
}

.topo > .conteudo > .perfil .foto img {
  width: 36px;
  height: 36px;
}

.topo > .conteudo > .perfil .infor {
  padding: 0 10px;
  position: relative;
  margin: 0;
}

.topo > .conteudo > .perfil .infor .point {
  position: absolute;
  top: 7px;
  right: -5px;
  font-size: 8px;
}

.topo > .conteudo > .perfil .infor .nome, .topo > .conteudo > .perfil .infor .profissao {
  display: block;
  font-weight: bold;
  line-height: 1.5;
}

.topo > .conteudo > .perfil .infor .nome {
  font-size: 14px;
}

.topo > .conteudo > .perfil .infor .profissao {
  font-size: 9px;
}

.topo > .conteudo > .perfil .box {
  z-index: 21;
  display: none;
  position: absolute;
  top: 60px;
  right: -30px;
  background-color: #fff;
  color: #555566;
  width: 235px;
  min-height: 70px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
}

.topo > .conteudo > .perfil .box::after {
  content: '';
  position: absolute;
  top: -5px;
  right: 23px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  transform: rotate(45deg);
}

.topo > .conteudo > .perfil .box .titulo {
  text-transform: uppercase;
  font-size: 10px;
  color: #9aa3c2;
  padding: 7px 25px;
  border-bottom: 1px solid #e5ecf4;
  font-weight: bold;
}

.topo > .conteudo > .perfil .box .titulo:not(:first-of-type) {
  border-top: 1px solid #e5ecf4;
}

.topo > .conteudo > .perfil .box ul {
  list-style: none;
  margin: 0;
  padding-left: 25px;
  font-size: 13px;
  font-weight: bold;
}

.topo > .conteudo > .perfil .box ul li {
  padding: 10px 0;
}

.topo > .conteudo > .perfil .box ul li:first-child {
  padding-top: 20px;
}

.topo > .conteudo > .perfil .box ul li:last-child {
  padding-bottom: 20px;
}

.topo > .conteudo > .perfil .box ul li a {
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
}

.topo > .conteudo > .perfil .box ul li a:hover {
  color: #fe1777;
}

.topo > .conteudo > .perfil .box ul li a:hover .icon {
  color: #fe1777;
}

.topo > .conteudo > .perfil .box ul li .icon {
  color: #9aa3c2;
  font-size: 18px;
  margin-right: 10px;
}

.topo > .conteudo > .perfil:hover > .box {
  display: block !important;
}

.topo > .lateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  max-width: 270px;
  height: 100vh;
  background-color: #fff;
  color: #9aa3c2;
  -webkit-box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all .5s;
}

@media screen and (max-width: 767px) {
  .topo > .lateral {
    left: -70px;
    top: 70px;
  }
}

.topo > .lateral.aberto {
  width: 270px;
}

@media screen and (max-width: 767px) {
  .topo > .lateral.aberto {
    height: 100vh;
    left: 0;
  }
}

.topo > .lateral.aberto .iconAbrir {
  display: none;
}

.topo > .lateral.aberto .iconFechar {
  display: inline-block;
}

.topo > .lateral .iconAbrir {
  display: inline-block;
}

.topo > .lateral .iconFechar {
  display: none;
}

.topo > .lateral .logo {
  background-color: #fe1777;
  width: 270px;
  max-width: 270px;
  height: 70px;
  line-height: 70px;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .topo > .lateral .logo {
    display: none !important;
  }
}

.topo > .lateral .logo .img {
  width: 70px;
  height: 100%;
}

.topo > .lateral .logo .img img {
  vertical-align: top;
}

.topo > .lateral .itemMenu {
  position: relative;
  cursor: pointer;
  width: 270px;
  height: 70px;
  line-height: 70px;
  font-size: 24px;
}

.topo > .lateral .itemMenu.clickMenu {
  transition: all .4s;
}

@media screen and (max-width: 767px) {
  .topo > .lateral .itemMenu.clickMenu {
    background-color: #ec0e6b;
    width: 70px;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff !important;
  }
}

.topo > .lateral .itemMenu.optSub .titulo::before {
  display: block;
  position: absolute;
  top: 0px;
  right: 10px;
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 18px;
}

.topo > .lateral .itemMenu:hover .icon, .topo > .lateral .itemMenu:hover .titulo {
  color: #fe1777;
}

@media screen and (max-width: 767px) {
  .topo > .lateral .itemMenu:hover.clickMenu .icon, .topo > .lateral .itemMenu:hover.clickMenu .titulo {
    color: #fff;
  }
}

.topo > .lateral .itemMenu .icon {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 70px;
}

.topo > .lateral .itemMenu .titulo {
  position: relative;
  margin-left: -6.5px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  width: 190px;
}

.topo > .lateral .itemMenu .subMenu {
  display: none;
  background-color: #edf2f6;
  font-size: 14px;
  line-height: 50px;
  font-weight: bold;
}

.topo > .lateral .itemMenu .subMenu ul {
  list-style: none;
  padding-left: 70px;
}

.topo > .lateral .itemMenu .subMenu ul li {
  position: relative;
}

.topo > .lateral .itemMenu .subMenu ul li:hover {
  color: #fe1777;
}

.topo > .lateral .itemMenu.subAberto {
  height: auto;
  color: #fe1777;
}

.topo > .lateral .itemMenu.subAberto .subMenu {
  display: block;
  color: #9aa3c2;
}

/* #######################################
		ÁREA DE CONTEUDO
   ####################################### */
.areaDeConteudo {
  z-index: 1;
  max-width: 1070px;
  margin: 100px auto 0 auto;
}

@media screen and (max-width: 1240px) {
  .areaDeConteudo {
    padding-left: 85px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .areaDeConteudo {
    padding: 0 15px;
  }
}

/* #######################################
		CABEÇALHO
   ####################################### */
.cabecalho {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .cabecalho {
    margin-bottom: 30px;
  }
}

.cabecalho > .social {
  position: absolute;
  top: 20px;
  right: -20px;
}

@media screen and (max-width: 767px) {
  .cabecalho > .social {
    top: initial;
    bottom: -20px;
    right: calc(50% - 75px);
  }
}

.cabecalho > .social .icon {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  margin-bottom: 10px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .cabecalho > .social .icon {
    display: inline-block;
    margin-bottom: 0;
  }
}

.cabecalho > .social .icon:not(.desativado):hover {
  font-size: 20px;
  border: 2px solid #fff;
  line-height: 34px;
}

.cabecalho > .social .icon:hover .tooltiptext {
  visibility: visible;
}

.cabecalho > .social .icon.desativado {
  background-color: #adadad !important;
}

.cabecalho > .social .icon .tooltiptext {
  width: 100px;
  visibility: hidden;
  padding: 5px 10px;
  background-color: #fe1777;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 45px;
}

@media screen and (max-width: 767px) {
  .cabecalho > .social .icon .tooltiptext {
    top: -25px;
    right: -30px;
  }
}

.cabecalho > .capa img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.cabecalho > .optMenu {
  min-height: 50px;
  padding: 38px 0;
}

@media screen and (max-width: 767px) {
  .cabecalho > .optMenu {
    padding-top: 130px;
  }
}

.cabecalho > .optMenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cabecalho > .optMenu ul li {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: #9aa3c2;
}

@media screen and (max-width: 767px) {
  .cabecalho > .optMenu ul li {
    padding: 10px 0;
  }
}

.cabecalho > .optMenu ul li.active {
  color: #fe1777;
}

.cabecalho > .optMenu ul li a {
  color: inherit;
  text-decoration: none;
}

.cabecalho > .optMenu ul li a:hover {
  color: #fe1777;
}

.cabecalho > .autor {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 15px;
  text-align: center;
  max-width: 200px;
  z-index: 4;
}

@media screen and (max-width: 767px) {
  .cabecalho > .autor {
    bottom: 290px;
  }
}

.cabecalho > .autor a.autor-thumb {
  display: block;
  overflow: hidden;
  border-radius: 100%;
  border: 6px solid #fff;
  margin: 0 auto;
  width: 132px;
  height: 132px;
  background-color: #edf2f6;
}

.cabecalho > .autor a.autor-thumb img {
  border-radius: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.cabecalho > .autor .autor-content a.nome {
  font-size: 22px;
  font-weight: bold;
  color: #555566;
  text-decoration: none;
}

.cabecalho > .autor .autor-content .sobre {
  font-size: 12px;
  color: #9aa3c2;
}
/*# sourceMappingURL=style.css.map */