@charset "UTF-8";
/*
Author: Fabrizio Feitosa
Author URI: http://fabriziofeitosa.me
Version: 1.0
*/
/* #######################################
		CONFIGURAÇÕES
   ####################################### */
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  outline: 0;
}

.bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

a.tudo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

html {
  height: 100%;
}

body {
  background-color: #edf2f6;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
  display: block;
  font-size: 14px;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
  display: none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  text-decoration: none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
  background-color: #fe1777;
  color: #fff;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu span.media .media-left {
  background-color: #fff;
  margin-right: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  overflow: hidden;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu span.media .media-left img {
  max-width: 100%;
  vertical-align: top;
}

/* #######################################
		LOGIN
   ####################################### */
#loginPrincipal {
  background-image: url(../image/loginbg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
  /* container com a perspectiva */
  /* feito com o hover */
  /* velocidade da animação */
  /* esconder parte de trás do painel durante a troca */
  /* coloca o painel frontal acima */
  /* painel de volta, inicialmente escondido */
}

#loginPrincipal > .gradient {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0bbce8;
  background: linear-gradient(45deg, rgba(11, 188, 232, 0.9) 10%, rgba(254, 39, 135, 0.9) 70%);
}

#loginPrincipal > .container {
  padding-top: 50px;
}

#loginPrincipal > .container > div {
  position: relative;
  z-index: 10;
}

#loginPrincipal .conteudo {
  color: #fff;
}

#loginPrincipal .conteudo h1 {
  font-weight: lighter;
  margin-top: 20%;
}

@media screen and (max-width: 767px) {
  #loginPrincipal .conteudo h1 {
    margin-top: 50px;
    font-size: 30px;
  }
}

#loginPrincipal .conteudo p {
  font-size: 14px;
  margin: 50px 0;
}

#loginPrincipal .conteudo a.button {
  color: #fff;
  border: 2px solid #fff;
  padding: 20px 20px;
  display: block;
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  transition: all .2s;
}

#loginPrincipal .conteudo a.button:hover {
  background-color: #fff;
  color: #0bbce8;
}

#loginPrincipal .flip-container {
  perspective: 1000;
}

#loginPrincipal .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

#loginPrincipal .flip-container, #loginPrincipal .front, #loginPrincipal .back {
  width: 100%;
  height: 100%;
  max-width: 435px;
  min-height: 495px;
}

#loginPrincipal .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

#loginPrincipal .front, #loginPrincipal .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

#loginPrincipal .front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

#loginPrincipal .back {
  transform: rotateY(180deg);
}

#loginPrincipal .box {
  z-index: 1;
  position: relative;
  background-color: #fff;
  color: #555566;
  border-radius: 4px;
  max-width: 435px;
  min-height: 495px;
}

@media screen and (max-width: 767px) {
  #loginPrincipal .box {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

#loginPrincipal .box > .header {
  font-size: 14px;
  padding: 20px 28px;
  font-weight: bold;
  border-bottom: 1px solid #e5ecf6;
  margin-bottom: 10px;
}

#loginPrincipal .box > .corpo {
  font-size: 12px;
  color: #9aa3c2;
  padding: 10px 28px;
}

#loginPrincipal .box > .corpo .btn-grupo .botao {
  position: relative;
  background-color: #fe2787;
  color: #fff;
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
  padding: 0px 10px;
}

@media screen and (max-width: 767px) {
  #loginPrincipal .box > .corpo .btn-grupo .botao {
    padding: 0px 5px;
  }
}

#loginPrincipal .box > .corpo .btn-grupo .botao .icon {
  font-size: 24px;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  #loginPrincipal .box > .corpo .btn-grupo .botao .icon {
    margin-right: 7px;
  }
}

#loginPrincipal .box > .corpo .btn-grupo .botao .frase {
  font-weight: bold;
  font-size: 14px;
}

#loginPrincipal .inputAreaLogin,
#loginPrincipal .numTelefone,
#loginPrincipal .numConfirmacao {
  background-color: #fff;
  color: #555566;
  border: 1px solid #e5ecf6;
  font-size: 14px;
  padding: 15px 20px;
  width: 100%;
  border-radius: 4px;
  margin: 20px 0 30px 0;
}

#loginPrincipal .areaAnunciante .inputAreaLogin {
  margin-bottom: 0px;
}

#loginPrincipal .step02 .corpo a, #loginPrincipal .step03 .corpo a {
  color: #fe2787;
  text-decoration: none;
}

#loginPrincipal .step02 .corpo .footer, #loginPrincipal .step03 .corpo .footer {
  position: absolute;
  left: 0px;
  bottom: 30px;
  width: calc(100% - 56px);
  margin: 0 28px;
}

#loginPrincipal .step02 .corpo .footer .termoDeUso, #loginPrincipal .step03 .corpo .footer .termoDeUso {
  position: relative;
  z-index: 10;
}

#loginPrincipal .step02 .corpo .footer .termoDeUso label, #loginPrincipal .step03 .corpo .footer .termoDeUso label {
  cursor: pointer;
}

#loginPrincipal .step02 .corpo .footer .termoDeUso label span, #loginPrincipal .step03 .corpo .footer .termoDeUso label span {
  font-size: 13px;
  line-height: 24px;
  padding-left: 5px;
  font-weight: normal;
}

#loginPrincipal .step02 .corpo .footer .custom-control-label::before, #loginPrincipal .step03 .corpo .footer .custom-control-label::before {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #e5ecf6;
}

#loginPrincipal .step02 .corpo .footer .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, #loginPrincipal .step03 .corpo .footer .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fe2787;
}

#loginPrincipal .step02 .corpo .footer .custom-control-label::after, #loginPrincipal .step03 .corpo .footer .custom-control-label::after {
  width: 20px;
  height: 20px;
}

#loginPrincipal .step02 .corpo .footer .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after, #loginPrincipal .step03 .corpo .footer .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  border: 1px solid #fe2787;
}

#loginPrincipal .step02 .corpo .footer .custom-control-input:focus ~ .custom-control-label::before, #loginPrincipal .step03 .corpo .footer .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0;
}

#loginPrincipal .btnEnviar {
  position: relative;
  background-color: #fe2787;
  color: #fff;
  padding: 20px 20px;
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
}

#loginPrincipal .btnEnviar.esqueci {
  background-color: transparent;
  color: #0bbce8;
  border: 1px solid #0bbce8;
}

/* #######################################
		LOADING
   ####################################### */
#loading {
  height: auto;
}

#loading #loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #ff1777;
  transition: all .5s;
}

#loading #loader-wrapper .spinner {
  margin: 22% auto;
  width: 70px;
  height: 70px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

#loading #loader-wrapper .spinner .dot1, #loading #loader-wrapper .spinner .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

#loading #loader-wrapper .spinner .dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* #######################################
		HEADER
   ####################################### */
.topo {
  z-index: 100;
  background-color: #fe1777;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
}

@media screen and (max-width: 767px) {
  .topo {
    position: fixed;
  }
}

.topo > .conteudo {
  padding: 0 50px 0 100px;
}

@media screen and (max-width: 767px) {
  .topo > .conteudo {
    padding: 0 0px 0 70px;
  }
}

.topo > .conteudo > .titulo {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 70px;
}

.topo > .conteudo > .notificacoes {
  position: relative;
  line-height: 70px;
  font-size: 30px;
  margin-right: 30px;
  width: 50px;
}

@media screen and (max-width: 767px) {
  .topo > .conteudo > .notificacoes {
    margin-right: 10px;
  }
}

.topo > .conteudo > .notificacoes label {
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  margin: 0;
  width: 100%;
  height: 100%;
}

.topo > .conteudo > .notificacoes label .numb {
  position: absolute;
  top: 15px;
  right: 5px;
  background-color: #01bee4;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.topo > .conteudo > .notificacoes input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: -9999px;
}

.topo > .conteudo > .notificacoes .box {
  z-index: 20;
  font-size: 16px;
  line-height: 1;
  display: none;
  position: absolute;
  top: 65px;
  right: -160px;
  width: 380px;
  background-color: #fff;
  color: #555566;
  border-radius: 4px;
  min-height: 80px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .topo > .conteudo > .notificacoes .box {
    position: fixed;
    right: 14px;
    top: 65px;
    width: 90%;
    max-width: 380px;
  }
}

@media screen and (max-width: 380px) {
  .topo > .conteudo > .notificacoes .box {
    width: 100%;
    right: 0;
  }
}

.topo > .conteudo > .notificacoes .box::after {
  content: '';
  position: absolute;
  top: -5px;
  right: 180px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  transform: rotate(45deg);
}

@media screen and (max-width: 767px) {
  .topo > .conteudo > .notificacoes .box::after {
    right: 16px;
  }
}

@media screen and (max-width: 380px) {
  .topo > .conteudo > .notificacoes .box::after {
    right: 30px;
  }
}

.topo > .conteudo > .notificacoes .box > .titulo {
  text-transform: uppercase;
  font-size: 10px;
  color: #9aa3c2;
  padding: 7px 25px;
  border-bottom: 1px solid #e5ecf4;
  font-weight: bold;
}

.topo > .conteudo > .notificacoes .box > .mensagemVazia {
  font-size: 12px;
  padding: 20px 10px;
  color: #9aa3c2;
}

.topo > .conteudo > .notificacoes .box > .item {
  padding: 20px 10px;
}

.topo > .conteudo > .notificacoes .box > .item:not(:last-child) {
  border-bottom: 1px solid #e5ecf4;
}

.topo > .conteudo > .notificacoes .box > .item .foto {
  position: relative;
  margin-left: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #edf2f6;
}

.topo > .conteudo > .notificacoes .box > .item .foto img {
  border-radius: 50%;
  vertical-align: top;
  width: 36px;
  height: 36px;
}

.topo > .conteudo > .notificacoes .box > .item .txt {
  margin-left: 10px;
  padding-right: 25px;
}

.topo > .conteudo > .notificacoes .box > .item .txt a {
  text-decoration: none;
  color: #01bee4;
  font-weight: bold;
}

.topo > .conteudo > .notificacoes .box > .item .txt a.linkPerfil {
  color: #555566;
  font-weight: bold;
  font-size: 13px;
}

.topo > .conteudo > .notificacoes .box > .item .txt .nome {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.topo > .conteudo > .notificacoes .box > .item .txt .nome a {
  font-size: inherit;
}

.topo > .conteudo > .notificacoes .box > .item .txt .sobre {
  font-size: 12px;
  line-height: 16px;
  color: #9aa3c2;
}

.topo > .conteudo > .notificacoes .box > .item .interacao {
  margin-right: 16px;
  padding-top: 5px;
}

.topo > .conteudo > .notificacoes .box > .item .interacao .icon {
  color: #fff;
}

.topo > .conteudo > .notificacoes .box > .item .interacao .like, .topo > .conteudo > .notificacoes .box > .item .interacao .deslike, .topo > .conteudo > .notificacoes .box > .item .interacao .decisao {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 8px;
  background-color: #9aa3c2;
}

.topo > .conteudo > .notificacoes .box > .item .interacao .like {
  margin-right: 7px;
  background-color: #01bee4;
}

.topo > .conteudo > .notificacoes .box > .item .interacao .decisao {
  background-color: transparent;
}

.topo > .conteudo > .notificacoes .box > .item .interacao .decisao .icon {
  color: #d4d6e2;
  font-size: 24px;
}

.topo > .conteudo > .notificacoes .box > .footer {
  position: relative;
  text-transform: uppercase;
  background-color: #01bee4;
  color: #fff;
  width: 100%;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 12px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .topo > .conteudo > .notificacoes input[type="checkbox"]:checked ~ .box {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .topo > .conteudo > .notificacoes:hover > .box {
    display: block !important;
  }
}

.topo > .conteudo > .perfil {
  position: relative;
}

.topo > .conteudo > .perfil .foto, .topo > .conteudo > .perfil .infor {
  cursor: pointer;
}

.topo > .conteudo > .perfil .foto {
  overflow: hidden;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #edf2f6;
}

.topo > .conteudo > .perfil .foto img {
  width: 36px;
  height: 36px;
}

.topo > .conteudo > .perfil .infor {
  padding: 0 10px;
  position: relative;
  margin: 0;
}

.topo > .conteudo > .perfil .infor .point {
  position: absolute;
  top: 7px;
  right: -5px;
  font-size: 8px;
}

.topo > .conteudo > .perfil .infor .nome, .topo > .conteudo > .perfil .infor .profissao {
  display: block;
  font-weight: bold;
  line-height: 1.5;
}

.topo > .conteudo > .perfil .infor .nome {
  font-size: 14px;
}

.topo > .conteudo > .perfil .infor .profissao {
  font-size: 9px;
}

.topo > .conteudo > .perfil .box {
  z-index: 21;
  display: none;
  position: absolute;
  top: 60px;
  right: -30px;
  background-color: #fff;
  color: #555566;
  width: 235px;
  min-height: 70px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
}

.topo > .conteudo > .perfil .box::after {
  content: '';
  position: absolute;
  top: -5px;
  right: 23px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  transform: rotate(45deg);
}

.topo > .conteudo > .perfil .box .titulo {
  text-transform: uppercase;
  font-size: 10px;
  color: #9aa3c2;
  padding: 7px 25px;
  border-bottom: 1px solid #e5ecf4;
  font-weight: bold;
}

.topo > .conteudo > .perfil .box .titulo:not(:first-of-type) {
  border-top: 1px solid #e5ecf4;
}

.topo > .conteudo > .perfil .box ul {
  list-style: none;
  margin: 0;
  padding-left: 25px;
  font-size: 13px;
  font-weight: bold;
}

.topo > .conteudo > .perfil .box ul li {
  padding: 10px 0;
}

.topo > .conteudo > .perfil .box ul li:first-child {
  padding-top: 20px;
}

.topo > .conteudo > .perfil .box ul li:last-child {
  padding-bottom: 20px;
}

.topo > .conteudo > .perfil .box ul li a {
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
}

.topo > .conteudo > .perfil .box ul li a:hover {
  color: #fe1777;
}

.topo > .conteudo > .perfil .box ul li a:hover .icon {
  color: #fe1777;
}

.topo > .conteudo > .perfil .box ul li .icon {
  color: #9aa3c2;
  font-size: 18px;
  margin-right: 10px;
}

.topo > .conteudo > .perfil:hover > .box {
  display: block !important;
}

.topo > .lateral {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  max-width: 270px;
  height: 100vh;
  background-color: #fff;
  color: #9aa3c2;
  -webkit-box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all .5s;
}

@media screen and (max-width: 767px) {
  .topo > .lateral {
    left: -70px;
    top: 70px;
  }
}

.topo > .lateral.aberto {
  width: 270px;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 767px) {
  .topo > .lateral.aberto {
    height: 100vh;
    left: 0;
  }
}

.topo > .lateral.aberto .iconAbrir {
  display: none;
}

.topo > .lateral.aberto .iconFechar {
  display: inline-block;
}

.topo > .lateral .iconAbrir {
  display: inline-block;
}

.topo > .lateral .iconFechar {
  display: none;
}

.topo > .lateral .logo {
  background-color: #fe1777;
  width: 270px;
  max-width: 270px;
  height: 70px;
  line-height: 70px;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .topo > .lateral .logo {
    display: none !important;
  }
}

.topo > .lateral .logo .img {
  width: 70px;
  height: 100%;
}

.topo > .lateral .logo .img img {
  vertical-align: top;
}

.topo > .lateral .itemMenu {
  position: relative;
  cursor: pointer;
  width: 270px;
  height: 70px;
  line-height: 70px;
  font-size: 24px;
}

.topo > .lateral .itemMenu.clickMenu {
  transition: all .4s;
}

@media screen and (max-width: 767px) {
  .topo > .lateral .itemMenu.clickMenu {
    background-color: #ec0e6b;
    width: 70px;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff !important;
  }
}

.topo > .lateral .itemMenu.optSub .titulo::before {
  display: block;
  position: absolute;
  top: 0px;
  right: 10px;
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 18px;
}

.topo > .lateral .itemMenu:hover .icon, .topo > .lateral .itemMenu:hover .titulo {
  color: #fe1777;
}

@media screen and (max-width: 767px) {
  .topo > .lateral .itemMenu:hover.clickMenu .icon, .topo > .lateral .itemMenu:hover.clickMenu .titulo {
    color: #fff;
  }
}

.topo > .lateral .itemMenu .icon {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 70px;
}

.topo > .lateral .itemMenu .titulo {
  position: relative;
  margin-left: -6.5px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  width: 190px;
}

.topo > .lateral .itemMenu .subMenu {
  display: none;
  background-color: #edf2f6;
  font-size: 14px;
  line-height: 50px;
  font-weight: bold;
}

.topo > .lateral .itemMenu .subMenu ul {
  list-style: none;
  padding-left: 70px;
}

.topo > .lateral .itemMenu .subMenu ul li {
  position: relative;
}

.topo > .lateral .itemMenu .subMenu ul li:hover {
  color: #fe1777;
}

.topo > .lateral .itemMenu.subAberto {
  height: auto;
  color: #fe1777;
}

.topo > .lateral .itemMenu.subAberto .subMenu {
  display: block;
  color: #9aa3c2;
}

/* #######################################
		ÁREA DE CONTEUDO
   ####################################### */
.areaDeConteudo {
  z-index: 1;
  max-width: 1070px;
  margin: 100px auto 0 auto;
}

@media screen and (max-width: 1240px) {
  .areaDeConteudo {
    padding-left: 85px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .areaDeConteudo {
    padding: 0 15px;
  }
}

/* #######################################
		CABEÇALHO
   ####################################### */
.cabecalho {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #e5ecf6;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .cabecalho {
    margin-bottom: 30px;
  }
}

.cabecalho > .social {
  position: absolute;
  top: 20px;
  right: -20px;
}

@media screen and (max-width: 1080px) {
  .cabecalho > .social {
    right: -10px;
  }
}

@media screen and (max-width: 767px) {
  .cabecalho > .social {
    top: initial;
    bottom: -20px;
    right: calc(50% - 85.5px);
  }
}

.cabecalho > .social .icon {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  margin-bottom: 10px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .cabecalho > .social .icon {
    display: inline-block;
    margin-bottom: 0;
  }
}

.cabecalho > .social .icon:not(.desativado):hover {
  font-size: 20px;
  border: 2px solid #fff;
  line-height: 34px;
}

.cabecalho > .social .icon:hover .tooltiptext {
  visibility: visible;
}

.cabecalho > .social .icon.desativado {
  background-color: #adadad !important;
}

.cabecalho > .social .icon .tooltiptext {
  width: 100px;
  visibility: hidden;
  padding: 5px 10px;
  background-color: #fe1777;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 45px;
}

@media screen and (max-width: 767px) {
  .cabecalho > .social .icon .tooltiptext {
    top: -25px;
    right: -30px;
  }
}

.cabecalho > .capa {
  width: 100%;
  background-color: #eeeeee;
  background-position: center center !important;
  background-size: cover !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.cabecalho > .capa::before {
  content: '';
  padding-top: 33.33%;
  float: left;
}

.cabecalho > .capa::after {
  content: '';
  display: block;
  clear: both;
}

.cabecalho > .capa img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.cabecalho > .optMenu {
  min-height: 50px;
  padding: 38px 0;
}

@media screen and (max-width: 767px) {
  .cabecalho > .optMenu {
    padding-top: 130px;
  }
}

.cabecalho > .optMenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cabecalho > .optMenu ul li {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: #9aa3c2;
}

@media screen and (max-width: 767px) {
  .cabecalho > .optMenu ul li {
    padding: 10px 0;
  }
}

.cabecalho > .optMenu ul li.active {
  color: #fe1777;
}

.cabecalho > .optMenu ul li a {
  color: inherit;
  text-decoration: none;
}

.cabecalho > .optMenu ul li a:hover {
  color: #fe1777;
}

.cabecalho > .autor {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 15px;
  text-align: center;
  max-width: 200px;
  z-index: 4;
}

@media screen and (max-width: 767px) {
  .cabecalho > .autor {
    bottom: 290px;
  }
}

.cabecalho > .autor a.autor-thumb {
  display: block;
  overflow: hidden;
  border-radius: 100%;
  border: 6px solid #fff;
  margin: 0 auto;
  width: 132px;
  height: 132px;
  background-color: #edf2f6;
}

.cabecalho > .autor a.autor-thumb img {
  border-radius: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.cabecalho > .autor .autor-content a.nome {
  font-size: 22px;
  font-weight: bold;
  color: #555566;
  text-decoration: none;
}

.cabecalho > .autor .autor-content .sobre {
  font-size: 12px;
  color: #9aa3c2;
}

@media screen and (max-width: 767px) {
  .cabecalho.quatroItens > .optMenu {
    padding-top: 90px;
  }
}

.cabecalho.quatroItens > .autor {
  width: 100%;
  max-width: 90%;
}

@media screen and (max-width: 767px) {
  .cabecalho.quatroItens > .autor {
    bottom: 210px;
  }
}

@media screen and (min-width: 768px) {
  .cabecalho.quatroItens > .autor {
    max-width: 190px;
  }
  .cabecalho.quatroItens > .autor a.nome {
    line-height: 1;
  }
}

@media screen and (min-width: 992px) {
  .cabecalho.quatroItens > .autor {
    max-width: 200px;
  }
}

/* #######################################
		SUBHEADER
   ####################################### */
.subHeader {
  border: 1px solid #e5ecf6;
  background-color: #fff;
  min-height: 85px;
  border-radius: 4px;
  padding: 10px 25px;
  margin-bottom: 15px;
  /* CAIXA DE FILTRO */
}

@media screen and (max-width: 767px) {
  .subHeader > div {
    margin-bottom: 20px;
  }
  .subHeader > div:last-child {
    margin-bottom: 10px;
  }
}

.subHeader > .campanhas {
  width: 42%;
}

@media screen and (max-width: 991px) {
  .subHeader > .campanhas {
    width: 32%;
  }
}

@media screen and (max-width: 767px) {
  .subHeader > .campanhas {
    width: 100%;
    padding-top: 10px;
  }
  .subHeader > .campanhas > div {
    width: 100%;
  }
}

.subHeader > .campanhas .txt {
  font-size: 14px;
  font-weight: bold;
  color: #555566;
}

@media screen and (max-width: 1199px) {
  .subHeader > .campanhas .txt {
    padding-bottom: 10px;
  }
}

.subHeader > .campanhas .social > div {
  display: inline-block;
}

.subHeader > .campanhas .social .icon {
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 16px;
}

.subHeader > .campanhas .social .icon.desativado {
  background-color: #adadad !important;
  color: #fff !important;
}

@media screen and (max-width: 767px) {
  .subHeader > .filtro {
    width: 100%;
  }
}

.subHeader > .filtro button.btn, .subHeader > .filtro button.btn:active {
  max-width: 130px;
  height: 45px;
  background-color: #fff;
  color: #555566;
  border: 1px solid #e5ecf6;
  font-size: 12px;
}

.subHeader > .filtro button.btn:focus, .subHeader > .filtro button.btn:active:focus {
  box-shadow: 0 0 0 0 transparent;
}

.subHeader > .filtro button.btn .filter-option, .subHeader > .filtro button.btn:active .filter-option {
  margin-top: 4px;
}

.subHeader > .filtro button.btn::after, .subHeader > .filtro button.btn:active::after {
  vertical-align: 7px;
}

.subHeader > .filtro .select {
  max-width: 130px;
}

.subHeader > .filtro .select .bootstrap-select {
  width: 100%;
  min-width: 130px;
}

@media screen and (max-width: 767px) {
  .subHeader > .filtro .select {
    max-width: 100%;
    width: 70%;
    padding-right: 10px;
  }
  .subHeader > .filtro .select button {
    width: 100%;
    max-width: 100%;
  }
}

.subHeader > .filtro .botao {
  width: 100%;
  max-width: 100px;
  margin-left: 15px;
}

@media screen and (max-width: 767px) {
  .subHeader > .filtro .botao {
    margin-left: 0px;
    width: 30%;
    max-width: 30%;
  }
}

.subHeader > .filtro .botao button {
  cursor: pointer;
  width: 100%;
  height: 45px;
  background-color: #fe1777;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .subHeader > .filtro .botao button {
    margin-left: 0;
  }
}

.subHeader > .pesquisa {
  border: 1px solid #e5ecf6;
  overflow: hidden;
  border-radius: 4px;
  width: 30%;
}

@media screen and (max-width: 767px) {
  .subHeader > .pesquisa {
    width: 100%;
  }
}

.subHeader > .pesquisa input, .subHeader > .pesquisa button {
  border: none;
  height: 45px;
}

.subHeader > .pesquisa .inputPesquisa {
  padding: 0 10px;
  font-size: 12px;
  color: #555566;
  width: calc(100% - 40px);
}

.subHeader > .pesquisa .inputButton {
  cursor: pointer;
  width: 40px;
  background-color: #d7d9e5;
  color: #fff;
  padding: 0 10px;
  margin: 0;
}

.subHeader.menor > .campanhas {
  width: 30%;
}

@media screen and (max-width: 767px) {
  .subHeader.menor > .campanhas {
    padding-top: 0;
    width: 100%;
  }
}

.subHeader.menor > .campanhas .social .icon {
  width: 27px;
  height: 27px;
  line-height: 27px;
  font-size: 14px;
}

.subHeader.filtroBy .label {
  font-size: 12px;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .subHeader.filtroBy .label {
    margin-top: 10px;
  }
}

.subHeader.filtroBy .filtro .select {
  max-width: 100%;
  padding-right: 0;
}

.subHeader.filtroBy .filtro .select button.btn {
  max-width: 100%;
}

.subHeader.filtroBy .filtro.filtroSocial, .subHeader.filtroBy .filtro.segundoFiltro {
  width: 35%;
  margin-right: 2%;
}

@media screen and (max-width: 767px) {
  .subHeader.filtroBy .filtro.filtroSocial, .subHeader.filtroBy .filtro.segundoFiltro {
    width: 100%;
    margin-right: 0;
  }
  .subHeader.filtroBy .filtro.filtroSocial .select, .subHeader.filtroBy .filtro.segundoFiltro .select {
    width: 100%;
  }
}

.subHeader.filtroBy .btnSubmit {
  width: 15%;
}

@media screen and (max-width: 767px) {
  .subHeader.filtroBy .btnSubmit {
    width: 100%;
  }
}

.subHeader.filtroBy .btnSubmit button {
  cursor: pointer;
  width: 100%;
  background-color: #fe1777;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 45px;
  padding: 0 20px;
}

/* #######################################
		AREA DE CARD
   ####################################### */
.areaDeCard {
  margin-bottom: 20px;
}

.carregarMais {
  margin: 50px 0 50px 0;
}

.carregarMais .icon {
  position: relative;
  background-color: #cbd1df;
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
}

/* #######################################
		CARD CAMPANHA
   ####################################### */
.cardCampanha {
  width: 100%;
  max-width: 340px;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 auto 20px auto;
}

.cardCampanha > .capa {
  width: 100%;
  background-color: #eeeeee;
  background-position: center center !important;
  background-size: cover !important;
  border-radius: 4px 4px 0 0;
}

.cardCampanha > .capa::before {
  content: '';
  padding-top: 40%;
  float: left;
}

.cardCampanha > .capa::after {
  content: '';
  display: block;
  clear: both;
}

.cardCampanha > .conteudo {
  position: relative;
  padding: 120px 10px 35px 10px;
}

.cardCampanha > .conteudo > .campanha {
  position: absolute;
  top: -53px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: center;
  max-width: 200px;
  z-index: 4;
}

.cardCampanha > .conteudo > .campanha .avatar {
  display: block;
  overflow: hidden;
  border-radius: 100%;
  border: 6px solid #fff;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: #edf2f6;
}

.cardCampanha > .conteudo > .campanha .avatar img {
  border-radius: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.cardCampanha > .conteudo > .campanha .titulo {
  margin-top: 5px;
  display: block;
  font-size: 16px;
  color: #555566;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

.cardCampanha > .conteudo > .campanha .cliente {
  margin-top: 5px;
  display: block;
  font-size: 12px;
  color: #9aa3c2;
  font-weight: normal;
  line-height: 1;
}

.cardCampanha > .conteudo > .infor > .dados {
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}

.cardCampanha > .conteudo > .infor > .dados > .item {
  width: 30%;
}

.cardCampanha > .conteudo > .infor > .dados > .item .valor {
  font-weight: bold;
  color: #555566;
}

.cardCampanha > .conteudo > .infor > .dados > .item .nome {
  font-weight: normal;
  color: #9aa3c2;
  font-size: 12px;
  margin-top: 5px;
}

.cardCampanha > .conteudo > .infor > .social {
  position: relative;
}

.cardCampanha > .conteudo > .infor > .social > div {
  display: inline-block;
}

.cardCampanha > .conteudo > .infor > .social .icon {
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 16px;
}

.cardCampanha.horizontal {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 auto 20px auto;
}

.cardCampanha.horizontal > .capa {
  width: 50%;
  border-radius: 4px 0 0 4px;
}

@media screen and (max-width: 767px) {
  .cardCampanha.horizontal > .capa {
    border-radius: 4px 4px 0 0;
    width: 100%;
  }
}

.cardCampanha.horizontal > .capa::before {
  padding-top: 50%;
}

.cardCampanha.horizontal > .conteudo {
  width: 50%;
  padding: 30px 15px 30px 30px;
  font-size: 14px;
  color: #9aa3c2;
}

@media screen and (max-width: 767px) {
  .cardCampanha.horizontal > .conteudo {
    padding: 30px 15px;
    width: 100%;
  }
}

.cardCampanha.horizontal > .conteudo > .tituloCamp {
  position: relative;
}

.cardCampanha.horizontal > .conteudo > .tituloCamp h3 {
  width: 100%;
  font-weight: lighter;
  color: #555566;
  margin-bottom: 10px;
  line-height: 1.1;
}

.cardCampanha.horizontal > .conteudo > .tags {
  font-size: 14px;
  margin-bottom: 15px;
}

.cardCampanha.horizontal > .conteudo > .tags .badge {
  text-transform: uppercase;
  background-color: #00b6ff;
  color: #fff;
  padding: 5px 5px;
  font-weight: normal;
}

.cardCampanha.horizontal > .conteudo > .tags .badge:not(:last-child) {
  margin-right: 5px;
}

.cardCampanha.horizontal > .conteudo > .tags .badge.fixed {
  background-color: #fe5e3a;
}

.cardCampanha.horizontal > .conteudo > .tags .badge.data {
  background-color: #7d5ac2;
}

.cardCampanha.horizontal > .conteudo > .sobre .txt {
  max-height: 84px;
  overflow: hidden;
}

.cardCampanha.horizontal > .conteudo > .final .social .icon {
  position: relative;
  width: 27px;
  height: 27px;
  line-height: 25px;
  text-align: center;
  background-color: #fe1777;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  border: 2px solid #fff;
}

.cardCampanha.horizontal > .conteudo > .final .social .icon:not(:first-child) {
  margin-left: -10px;
}

.cardCampanha.horizontal > .conteudo > .final .graf {
  font-size: 12px;
}

.cardCampanha.horizontal > .conteudo > .final .graf .icon {
  margin-right: 10px;
  font-size: 20px;
}

.cardCampanha.horizontal > .conteudo > .final .valor {
  font-size: 12px;
  line-height: 20px;
}

.cardCampanha.horizontal > .conteudo > .final .valor .icon {
  margin-right: 10px;
  display: inline-block;
  background-color: #9aa3c2;
  color: #fff;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  text-align: center;
  overflow: hidden;
}

.cardCampanha.areaCampanha {
  position: relative;
  width: 100%;
  max-width: 350px;
  background-color: #fff;
  border: 1px solid #e5ecf6;
  border-radius: 4px;
  margin: 0 auto 20px auto;
}

.cardCampanha.areaCampanha > .capa {
  width: 100%;
  background-color: #eeeeee;
  background-position: center center !important;
  background-size: cover !important;
  border-radius: 4px 4px 0 0;
}

.cardCampanha.areaCampanha > .capa::before {
  content: '';
  padding-top: 85%;
  float: left;
}

.cardCampanha.areaCampanha > .capa::after {
  content: '';
  display: block;
  clear: both;
}

.cardCampanha.areaCampanha > .redeSocial {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.3);
}

.cardCampanha.areaCampanha > .redeSocial img {
  max-width: 100%;
  vertical-align: top;
}

.cardCampanha.areaCampanha > .corpo {
  padding: 20px 30px;
}

.cardCampanha.areaCampanha > .corpo .conteudo .autor {
  width: 100%;
  margin-bottom: 20px;
}

.cardCampanha.areaCampanha > .corpo .conteudo .autor .foto {
  background-color: #edf2f6;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.cardCampanha.areaCampanha > .corpo .conteudo .autor .foto img {
  max-width: 100%;
  vertical-align: top;
}

.cardCampanha.areaCampanha > .corpo .conteudo .autor .infor .nome {
  font-size: 14px;
  color: #555566;
  font-weight: bold;
}

.cardCampanha.areaCampanha > .corpo .conteudo .autor .infor .tempo {
  font-size: 12px;
  color: #9aa3c2;
}

.cardCampanha.areaCampanha > .corpo .conteudo .autor .dado {
  background-color: #01bee4;
  color: #fff;
  font-size: 12px;
  padding: 0px 10px;
  height: 25px;
  line-height: 25px;
  border-radius: 4px;
}

.cardCampanha.areaCampanha > .corpo .conteudo .autor .dado i {
  font-size: 14px;
}

.cardCampanha.areaCampanha > .corpo .conteudo .autor .dado span {
  line-height: 1;
}

.cardCampanha.areaCampanha > .corpo .conteudo .txt {
  font-size: 14px;
  color: #9aa3c2;
  height: 64px;
  overflow: hidden;
}

.cardCampanha.areaCampanha > .corpo .conteudo .txt a {
  color: #f13685;
  text-decoration: none;
}

.cardCampanha.areaCampanha > .corpo .conteudo .footer {
  color: #9aa3c2;
  font-size: 16px;
  border-top: 1px solid #e5ecf6;
  margin-top: 20px;
  padding-top: 20px;
}

.cardCampanha.areaCampanha > .corpo .conteudo .footer .icon {
  font-size: 18px;
}

.cardCampanha.areaCampanha > .corpo .conteudo .footer .valor {
  margin-left: 10px;
  font-size: 12px;
}

.cardCampanha.areaCampanha > .corpo .conteudo .footer .compartilhar {
  margin-left: 20px;
}

/* #######################################
		FEED ATIVIDADES
   ####################################### */
.feedAtividades {
  background-color: #fff;
  border: 1px solid #e5ecf6;
  min-height: 50px;
  border-radius: 4px;
  color: #9aa3c2;
  margin-bottom: 30px;
}

.feedAtividades > .header {
  font-size: 14px;
  font-weight: bold;
  color: #555566;
  padding: 20px 25px;
  border-bottom: 1px solid #e5ecf6;
}

.feedAtividades > .listaDeItens > .item {
  padding: 20px 25px;
  font-size: 12px;
}

.feedAtividades > .listaDeItens > .item:not(:first-child) {
  border-top: 1px solid #e5ecf6;
}

.feedAtividades > .listaDeItens > .item .foto {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #edf2f6;
}

.feedAtividades > .listaDeItens > .item .foto img {
  max-width: 100%;
}

.feedAtividades > .listaDeItens > .item .conteudo {
  padding-left: 15px;
}

.feedAtividades > .listaDeItens > .item .conteudo a {
  color: #fe1777;
  text-decoration: none;
}

.feedAtividades > .listaDeItens > .item .conteudo a.perfil {
  color: #555566;
  font-weight: bold;
}

.feedAtividades > .listaDeItens > .item .conteudo .tempo {
  margin-top: 8px;
  font-size: 11px;
}

.feedAtividades > .verTodos {
  position: relative;
  padding: 20px 25px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #555566;
  border-top: 1px solid #e5ecf6;
}

/* #######################################
		BOTAO FLUTUANTE DE CRIAR CAMPANHA
   ####################################### */
.btnCriarCampanha {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #01b7ff;
  color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
}

.btnCriarCampanha .icon {
  display: block;
  font-size: 30px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btnCriarCampanha .plus {
  position: absolute;
  font-size: 9px;
  top: 10px;
  right: 12px;
}

/* #######################################
		MODAL PADRAO
   ####################################### */
.modalPadrao .modal-dialog {
  max-width: 804px;
}

.modalPadrao .modal-dialog .capa {
  cursor: pointer;
  position: relative;
  background-color: #edf2f6;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  border: 1px solid #edf2f6;
}

.modalPadrao .modal-dialog .capa img {
  border-radius: 4px 4px 0 0;
  max-width: 100%;
}

.modalPadrao .modal-dialog .capa::before {
  content: '';
  padding-top: 33.33%;
  float: left;
}

.modalPadrao .modal-dialog .capa::after {
  content: '';
  display: block;
  clear: both;
}

.modalPadrao .modal-dialog .capa .semImg {
  position: absolute;
  top: 2.5%;
  left: 1%;
  text-align: center;
  width: 98%;
  height: 95%;
  border: 2px dashed #bbbfd8;
}

.modalPadrao .modal-dialog .capa .semImg .titulo {
  font-weight: bold;
  font-size: 15px;
  color: #555566;
}

.modalPadrao .modal-dialog .capa .semImg .sub {
  color: #9aa3c2;
  font-size: 13px;
}

.modalPadrao .modal-dialog .modal-footer .botao {
  background-color: #9a9fbf;
  color: #fff;
  border-radius: 4px;
  height: 54px;
  line-height: 54px;
  width: 48%;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.modalPadrao .modal-dialog .modal-footer .botao.criar {
  background-color: #fe1777;
}

@media screen and (max-width: 767px) {
  .modalPadrao .modal-dialog .modal-footer .botao {
    width: 100%;
    margin: 0;
  }
  .modalPadrao .modal-dialog .modal-footer .botao:not(:first-child) {
    margin-bottom: 10px;
  }
}

/* #######################################
		MODAL CAMPANHA
   ####################################### */
#criandoCampanha .tipoCampanha > .titulo {
  display: block;
  font-weight: bold;
  font-size: 12px;
}

#criandoCampanha .tipoCampanha .help {
  position: relative;
  color: #9aa3c2;
  cursor: pointer;
  height: 100%;
  padding-top: 14px;
}

#criandoCampanha .tipoCampanha .help > div {
  position: relative;
}

#criandoCampanha .tipoCampanha .help .tooltiptext {
  width: 220px;
  visibility: hidden;
  padding: 8px 10px;
  background-color: #fe1777;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 24px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

#criandoCampanha .tipoCampanha .help .tooltiptext::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 5px);
  left: -4px;
  width: 10px;
  height: 10px;
  background-color: #fe1777;
  -webkit-transform: rotate(45deg);
  /* prefixo para browsers webkit */
  -moz-transform: rotate(45deg);
  /* prefixo para browsers gecko */
  -o-transform: rotate(45deg);
  /* prefixo para opera */
  transform: rotate(45deg);
}

#criandoCampanha .tipoCampanha .help:hover .tooltiptext {
  visibility: visible;
}

.custom-checkbox label {
  cursor: pointer;
  color: #9aa3c2;
  font-size: 14px;
  line-height: 28px;
}

.custom-checkbox label::before {
  border-radius: 0 !important;
  width: 20px;
  height: 20px;
  border: 1px solid #eaebf0;
  background-color: #fff;
}

.custom-checkbox label::after {
  width: 20px;
  height: 20px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fe1777;
  border-color: #fe1777;
}

.custom-control-input:active ~ .custom-control-label::before {
  background-color: transparent;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0 transparent;
}

/* #######################################
		INPUT GROUP
   ####################################### */
.input-group.influu {
  background-color: #fff;
  border: 1px solid #e5ecf6;
  border-radius: 4px;
  padding: 10px 15px 0px 15px;
  margin-bottom: 15px;
}

.input-group.influu.invalid {
  border-color: red;
}

.input-group.influu.invalid .titulo,
.input-group.influu.invalid .help {
  color: red !important;
}

.input-group.influu .titulo {
  position: absolute;
  top: 5px;
  left: 15px;
  z-index: 10;
  color: #9aa3c2;
  font-size: 11px;
  margin: 0;
}

.input-group.influu .form-control {
  margin-top: 10px;
  outline: 0;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 20px 6px 0px;
}

@media screen and (max-width: 767px) {
  .input-group.influu .form-control {
    padding: 6px 0px 6px 0px;
  }
}

.input-group.influu .form-control:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0 transparent;
}

.input-group.influu .form-control:invalid {
  border-color: transparent;
  box-shadow: 0 0 0 0 transparent;
}

.input-group.influu .help {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 10;
  color: #9aa3c2;
  cursor: help;
  height: 100%;
  padding-top: 14px;
}

.input-group.influu .help > div {
  position: relative;
}

.input-group.influu .help .tooltiptext {
  width: 180px;
  visibility: hidden;
  padding: 8px 10px;
  background-color: #fe1777;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 24px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.input-group.influu .help .tooltiptext::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 5px);
  right: -4px;
  width: 10px;
  height: 10px;
  background-color: #fe1777;
  -webkit-transform: rotate(45deg);
  /* prefixo para browsers webkit */
  -moz-transform: rotate(45deg);
  /* prefixo para browsers gecko */
  -o-transform: rotate(45deg);
  /* prefixo para opera */
  transform: rotate(45deg);
}

.input-group.influu .help:hover .tooltiptext {
  visibility: visible;
}

/* #######################################
		INFOR CARDS
   ####################################### */
.inforCards {
  width: 100%;
}

.inforCards > .itemCard {
  background-color: #fff;
  border: 1px solid #e5ecf6;
  border-radius: 4px;
  width: 100%;
  padding: 20px;
  max-width: 100%;
  margin-bottom: 15px;
}

.inforCards > .itemCard:not(:last-child) {
  margin-right: 0;
}

@media screen and (min-width: 576px) {
  .inforCards > .itemCard {
    max-width: 49%;
  }
  .inforCards > .itemCard:not(:nth-child(2n)) {
    margin-right: 2%;
  }
}

@media screen and (min-width: 768px) {
  .inforCards > .itemCard {
    max-width: 49%;
  }
  .inforCards > .itemCard:not(:nth-child(2n)) {
    margin-right: 2%;
  }
}

@media screen and (min-width: 992px) {
  .inforCards > .itemCard {
    max-width: 23.5%;
    margin-bottom: 0px;
  }
  .inforCards > .itemCard:not(:last-child) {
    margin-right: 2%;
  }
}

@media screen and (min-width: 1200px) {
  .inforCards > .itemCard {
    max-width: 23.5%;
  }
  .inforCards > .itemCard:not(:last-child) {
    margin-right: 2%;
  }
}

.inforCards > .itemCard .icon {
  font-size: 24px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #eeeeee;
  color: #fff;
  border-radius: 50%;
  margin-right: 15px;
}

.inforCards > .itemCard .icon.girar i {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.inforCards > .itemCard .icon.azul {
  background-color: #01bee4;
}

.inforCards > .itemCard .icon.rosa {
  background-color: #fe1777;
}

.inforCards > .itemCard .infor {
  line-height: 1;
}

.inforCards > .itemCard .infor .valor {
  font-size: 24px;
  padding-bottom: 5px;
}

.inforCards > .itemCard .infor .nome {
  font-size: 12px;
  color: #9aa3c2;
}

/* #######################################
		SHOW MORE
   ####################################### */
.showMore {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.showMore > .conteudo {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #bcc6d0;
  background-color: #edf2f6;
  padding: 0 20px;
  z-index: 10;
}

.showMore > .conteudo .txt {
  line-height: 18px;
}

.showMore > .conteudo .icon {
  margin-left: 15px;
  font-size: 18px;
  line-height: 18px;
}

.showMore::before, .showMore::after {
  z-index: 1;
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  width: 50%;
  height: 1px;
  background-color: #e1e6ea;
}

.showMore::before {
  left: 0;
}

.showMore::after {
  right: 0;
}
/*# sourceMappingURL=style.css.map */